version: '3.8'

services:

  frontend:
    build: ./frontend
    container_name: my_api
    ports:
      - "8080:8080"
    environment:
    - API_URL=http://backend:8000/
    depends_on:
      - backend
    networks:
      - my-network

  backend:
    build: ./backend
    container_name: my_dashboard
    ports:
      - "8000:8000"
    networks:
      - my-network

networks:
  my-network: